	body{
		background-image: url(foto/lond.jpg);
		background-repeat: no-repeat;
		background-size: cover;
	}
		.inp{
			max-width: 350px;
			height: 350px;
			box-shadow: 0px 0px 30px gray;
			margin-left: auto;
			margin-right: auto;
			margin-top: 100px;
			background: white;
		}
		.h1{
			text-align: center;
			padding-top: 30px	
		}
		p{
			text-align: center;
			font-size: 23px;
			margin: 5px;
		}
		input{
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 70%;
			height: 8%;
			font-size: 18px;
			text-align: center;
			border-radius: 10px ;
			border: 1px solid gray
		}
		input:focus{
			background: lightyellow;
		}
		button{
			width: 50%;
			height: 10%;
			font-size: 16px;
			background:  #00CD00;
			border: none;
			outline: none;
			margin-left: auto;
			margin-right: auto;
			display: block;
			margin-top: 20px;

		}
		button:hover{
			box-shadow: 0px 0px 10px gray;
			color: white
		}
		h3{
			color: red;
			text-align: center;
		}